.root {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.columns {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  max-width: 100%;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  --plsmc-rc-col-gap: 0px;
  padding: 8px 8px 8px 0px;
}
.columns > :nth-child(3n + 1) {
  width: calc((100% - 3 * var(--plsmc-rc-col-gap, 0px)) * 4 / 12);
}
.columns > :nth-child(3n + 2) {
  width: calc((100% - 3 * var(--plsmc-rc-col-gap, 0px)) * 4 / 12);
}
.columns > :nth-child(3n + 3) {
  width: calc((100% - 3 * var(--plsmc-rc-col-gap, 0px)) * 4 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns > :nth-child(3n + 1) {
    width: calc((100% - 3 * var(--plsmc-rc-col-gap, 0px)) * 4 / 12);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns > :nth-child(3n + 2) {
    width: calc((100% - 3 * var(--plsmc-rc-col-gap, 0px)) * 4 / 12);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns > :nth-child(3n + 3) {
    width: calc((100% - 3 * var(--plsmc-rc-col-gap, 0px)) * 4 / 12);
  }
}
.column___5CFlY {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: flex-start;
  min-width: 0;
  padding: 8px 8px 8px 0px;
}
.button__fOxVt:global(.__wab_instance) {
  max-width: 100%;
}
.svg__hr6Wz {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg {
  object-fit: cover;
  max-width: 32px;
  width: 32px;
  height: 32px;
  min-height: 32px;
  max-height: 32px;
}
.svg___8Cwb1 {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.column__rMoVl {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.button__zwr4S:global(.__wab_instance) {
  max-width: 100%;
}
.svg__jPbZt {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.remixNavLink:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  width: auto;
}
.img___7NaOi {
  object-fit: cover;
  max-width: 52px;
  width: 52px;
}
.img___7NaOi > picture > img {
  object-fit: cover;
}
.svg__jKlid {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.column__m8Utv {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: flex-end;
  min-width: 0;
  padding: 8px;
}
.link {
  display: flex;
}
.img__r7Oxs {
  object-fit: cover;
  max-width: 100%;
}
.img__r7Oxs > picture > img {
  object-fit: cover;
}
.navLinks {
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-bottom: 10px;
  min-width: 0;
  display: none;
  padding: 0px;
}
.navLinks > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 10px);
  height: calc(100% + 10px);
}
.navLinks > :global(.__wab_flex-container) > *,
.navLinks > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.navLinks > :global(.__wab_flex-container) > picture > img,
.navLinks
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 10px;
}
.navLinksopen {
  display: flex;
}
.freeBox {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: var(--token-Ecn0Uurx_CKl);
  min-width: 0;
  padding: 12px;
}
.smallHeaderLink__u9P2X:global(.__wab_instance) {
  max-width: 100%;
}
.smallHeaderLink___9IFt:global(.__wab_instance) {
  max-width: 100%;
}
.aboutUs:global(.__wab_instance) {
  position: relative;
}
.richRemixNavLink__k0255:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  align-self: flex-start;
  min-width: 0;
}
.richRemixNavLink__eJph4:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  align-self: flex-start;
  min-width: 0;
}
.richRemixNavLink__qg1Na:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  align-self: flex-start;
  min-width: 0;
}
.richRemixNavLink__vskCh:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  align-self: flex-start;
  min-width: 0;
}
.richRemixNavLink__hi0C2:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  align-self: flex-start;
  min-width: 0;
}
.richRemixNavLink__hbqQ:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  align-self: flex-start;
  min-width: 0;
}
._3rdPartyOriginators:global(.__wab_instance) {
  position: relative;
}
.richRemixNavLink__twbOc:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  align-self: flex-start;
  min-width: 0;
}
.customerResourceCenter:global(.__wab_instance) {
  position: relative;
}
.richRemixNavLink__siHuF:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  align-self: flex-start;
  min-width: 0;
}
.businessOwners:global(.__wab_instance) {
  position: relative;
}
.richRemixNavLink___3IxUq:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  align-self: flex-start;
  min-width: 0;
}
.customerResources:global(.__wab_instance) {
  position: relative;
  display: none;
}
.richRemixNavLink__uh1CH:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  align-self: flex-start;
  min-width: 0;
}
.richRemixNavLink__zpvnd:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  align-self: flex-start;
  min-width: 0;
}
.richRemixNavLink__rZzX6:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  align-self: flex-start;
  min-width: 0;
}
.equipmentForSale:global(.__wab_instance) {
  position: relative;
  display: none;
}
.richRemixNavLink___74QdD:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  align-self: flex-start;
  min-width: 0;
}
.carrers:global(.__wab_instance) {
  position: relative;
  display: none;
}
.richRemixNavLink__xdwbF:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  align-self: flex-start;
  min-width: 0;
}
