.root {
  display: grid;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  align-content: flex-start;
  justify-items: center;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  min-height: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
}
.root > * {
  grid-column: 4;
}
.defaultPageLayout:global(.__wab_instance) {
  max-width: 100%;
}
.img__gFt0F {
  object-fit: cover;
  max-width: 300px;
  width: 50%;
  border-radius: 500px;
}
.img__gFt0F > picture > img {
  object-fit: cover;
}
.freeBox__whnxG {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 615px;
  min-width: 0;
  padding: 8px 8px 8px 45px;
}
.freeBox__whnxG > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 15px);
  height: calc(100% + 15px);
}
.freeBox__whnxG > :global(.__wab_flex-container) > *,
.freeBox__whnxG > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__whnxG > :global(.__wab_flex-container) > picture > img,
.freeBox__whnxG
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 15px;
}
@media (max-width: 1000px) {
  .freeBox__whnxG {
    padding-left: 0px;
  }
}
.h2 {
  color: var(--token-88RjLEx5apRc);
  font-family: var(--token-zHp5t89rxSrr);
  font-size: var(--token-efKhapC6D4KI);
  text-align: left;
  letter-spacing: -0.02rem;
  line-height: var(--token-VjbZaV8oqOQR);
  margin-bottom: 0px;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-top: calc(0px + 15px) !important;
  margin-right: 0px;
  margin-left: 0px;
  min-width: 0;
}
.text__athu1 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  display: none;
}
.freeBox__qr1Xp {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.freeBox__qr1Xp > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 0px);
  height: calc(100% + 0px);
}
.freeBox__qr1Xp > :global(.__wab_flex-container) > *,
.freeBox__qr1Xp > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__qr1Xp > :global(.__wab_flex-container) > picture > img,
.freeBox__qr1Xp
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 0px;
}
.fullWidthSection__lmH5L:global(.__wab_instance) {
  max-width: 100%;
}
.freeBox___3Hrqn {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  grid-column-start: 3 !important;
  grid-column-end: -3 !important;
  padding: 8px;
}
@media (max-width: 1000px) {
  .freeBox___3Hrqn {
    display: flex;
    flex-direction: row;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___3Hrqn {
    display: flex;
    flex-direction: column;
  }
}
.freeBox__sbr6U {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: flex-start;
  justify-content: center;
  width: auto;
  height: auto;
  max-width: 100%;
  margin-right: 0px;
  padding: 8px 40px 8px 8px;
}
@media (max-width: 1000px) {
  .freeBox__sbr6U {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    padding: 8px 40px 8px 8px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__sbr6U {
    padding: 8px;
  }
}
.img__x6Axc {
  object-fit: cover;
  max-width: auto;
  object-position: left top;
  width: 200px;
  margin-right: 0px;
  height: 200px;
  flex-shrink: 0;
  border-radius: 500px;
}
.img__x6Axc > picture > img {
  object-fit: cover;
  object-position: left top;
}
@media (max-width: 1000px) {
  .img__x6Axc {
    margin-right: 0px;
    object-fit: fill;
    align-self: auto;
    object-position: center top;
  }
}
@media (max-width: 1000px) {
  .img__x6Axc > picture > img {
    object-fit: fill;
    object-position: center top;
  }
}
.text___2Kwp {
  font-family: var(--token-zHp5t89rxSrr);
  color: var(--token-DU2gyGQXaOc4);
  font-size: var(--token-a-sZCMzsECyP);
  line-height: var(--token-QR6NAKQI2zSJ);
  width: 100%;
  height: auto;
  max-width: 100%;
  padding-top: 20px;
  padding-left: 0px;
  min-width: 0;
}
.fullWidthSection__pmHcI:global(.__wab_instance) {
  max-width: 100%;
}
.freeBox__fcZj {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  grid-column-start: 3 !important;
  grid-column-end: -3 !important;
  padding: 8px;
}
@media (max-width: 1000px) {
  .freeBox__fcZj {
    display: flex;
    flex-direction: row;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__fcZj {
    display: flex;
    flex-direction: column;
  }
}
.text___8Pzrc {
  font-family: var(--token-zHp5t89rxSrr);
  color: var(--token-DU2gyGQXaOc4);
  font-size: var(--token-a-sZCMzsECyP);
  line-height: var(--token-QR6NAKQI2zSJ);
  width: 100%;
  height: auto;
  max-width: 100%;
  padding-top: 0px;
  padding-left: 0px;
  min-width: 0;
}
.fullWidthSection__doKgr:global(.__wab_instance) {
  max-width: 100%;
}
.freeBox___7Zhg9 {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  grid-column-start: 3 !important;
  grid-column-end: -3 !important;
  padding: 8px;
}
@media (max-width: 1000px) {
  .freeBox___7Zhg9 {
    display: flex;
    flex-direction: row;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___7Zhg9 {
    display: flex;
    flex-direction: column;
  }
}
.freeBox__v1WK1 {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: flex-start;
  justify-content: center;
  width: auto;
  height: auto;
  max-width: 100%;
  margin-right: 0px;
  padding: 8px 40px 8px 8px;
}
@media (max-width: 1000px) {
  .freeBox__v1WK1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    padding: 8px 40px 8px 8px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__v1WK1 {
    padding: 8px;
  }
}
.img__kXzF {
  object-fit: cover;
  max-width: auto;
  object-position: left top;
  width: 200px;
  margin-right: 0px;
  height: 200px;
  flex-shrink: 0;
  border-radius: 500px;
}
.img__kXzF > picture > img {
  object-fit: cover;
  object-position: left top;
}
@media (max-width: 1000px) {
  .img__kXzF {
    margin-right: 0px;
    object-fit: fill;
    align-self: auto;
    object-position: center top;
  }
}
@media (max-width: 1000px) {
  .img__kXzF > picture > img {
    object-fit: fill;
    object-position: center top;
  }
}
.text__ywVnc {
  font-family: var(--token-zHp5t89rxSrr);
  color: var(--token-DU2gyGQXaOc4);
  font-size: var(--token-a-sZCMzsECyP);
  line-height: var(--token-QR6NAKQI2zSJ);
  width: 100%;
  height: auto;
  max-width: 100%;
  padding-top: 20px;
  padding-left: 0px;
  min-width: 0;
}
.fullWidthSection__vOxTn:global(.__wab_instance) {
  max-width: 100%;
}
.freeBox___430A {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  grid-column-start: 3 !important;
  grid-column-end: -3 !important;
  padding: 8px;
}
@media (max-width: 1000px) {
  .freeBox___430A {
    display: flex;
    flex-direction: row;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___430A {
    display: flex;
    flex-direction: column;
  }
}
.freeBox__qlrKs {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: flex-start;
  justify-content: center;
  width: auto;
  height: auto;
  max-width: 100%;
  margin-right: 0px;
  padding: 8px 40px 8px 8px;
}
@media (max-width: 1000px) {
  .freeBox__qlrKs {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    padding: 8px 40px 8px 8px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__qlrKs {
    padding: 8px;
  }
}
.img__upybz {
  object-fit: fill;
  max-width: auto;
  object-position: left top;
  width: 200px;
  margin-right: 0px;
  height: 200px;
  flex-shrink: 0;
  border-radius: 500px;
}
.img__upybz > picture > img {
  object-fit: fill;
  object-position: left top;
}
@media (max-width: 1000px) {
  .img__upybz {
    margin-right: 0px;
    object-fit: fill;
    align-self: auto;
    object-position: center top;
  }
}
@media (max-width: 1000px) {
  .img__upybz > picture > img {
    object-fit: fill;
    object-position: center top;
  }
}
.text___2Eq2I {
  font-family: var(--token-zHp5t89rxSrr);
  color: var(--token-DU2gyGQXaOc4);
  font-size: var(--token-a-sZCMzsECyP);
  line-height: var(--token-QR6NAKQI2zSJ);
  width: 100%;
  height: auto;
  max-width: 100%;
  padding-top: 20px;
  padding-left: 0px;
  min-width: 0;
}
.fullWidthSection__gv9C0:global(.__wab_instance) {
  max-width: 100%;
}
.text__r7KyC {
  font-family: var(--token-zHp5t89rxSrr);
  color: var(--token-DU2gyGQXaOc4);
  font-size: var(--token-a-sZCMzsECyP);
  line-height: var(--token-QR6NAKQI2zSJ);
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
  grid-column-start: 3 !important;
  grid-column-end: -3 !important;
}
.fullWidthSection__c9BrU:global(.__wab_instance) {
  max-width: 100%;
}
.freeBox__eyZs {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  grid-column-start: 3 !important;
  grid-column-end: -3 !important;
  padding: 8px;
}
@media (max-width: 1000px) {
  .freeBox__eyZs {
    display: flex;
    flex-direction: row;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__eyZs {
    display: flex;
    flex-direction: column;
  }
}
.freeBox___2Zbom {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: flex-start;
  justify-content: center;
  width: auto;
  height: auto;
  max-width: 100%;
  margin-right: 0px;
  padding: 8px 40px 8px 8px;
}
@media (max-width: 1000px) {
  .freeBox___2Zbom {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    padding: 8px 40px 8px 8px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___2Zbom {
    padding: 8px;
  }
}
.img__eKsja {
  object-fit: fill;
  max-width: auto;
  object-position: left top;
  width: 200px;
  margin-right: 0px;
  height: 200px;
  flex-shrink: 0;
  border-radius: 500px;
}
.img__eKsja > picture > img {
  object-fit: fill;
  object-position: left top;
}
@media (max-width: 1000px) {
  .img__eKsja {
    margin-right: 0px;
    object-fit: fill;
    align-self: auto;
    object-position: center top;
  }
}
@media (max-width: 1000px) {
  .img__eKsja > picture > img {
    object-fit: fill;
    object-position: center top;
  }
}
.text__b1Kh0 {
  font-family: var(--token-zHp5t89rxSrr);
  color: var(--token-DU2gyGQXaOc4);
  font-size: var(--token-a-sZCMzsECyP);
  line-height: var(--token-QR6NAKQI2zSJ);
  width: 100%;
  height: auto;
  max-width: 100%;
  padding-top: 20px;
  padding-left: 0px;
  min-width: 0;
}
.fullWidthSection__rDkVc:global(.__wab_instance) {
  max-width: 100%;
}
.freeBox__cLg35 {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  grid-column-start: 3 !important;
  grid-column-end: -3 !important;
  padding: 8px;
}
@media (max-width: 1000px) {
  .freeBox__cLg35 {
    display: flex;
    flex-direction: row;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__cLg35 {
    display: flex;
    flex-direction: column;
  }
}
.freeBox__rTbkA {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: flex-start;
  justify-content: center;
  width: auto;
  height: auto;
  max-width: 100%;
  margin-right: 0px;
  padding: 8px 40px 8px 8px;
}
@media (max-width: 1000px) {
  .freeBox__rTbkA {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    padding: 8px 40px 8px 8px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__rTbkA {
    padding: 8px;
  }
}
.img__oImn6 {
  object-fit: cover;
  max-width: auto;
  object-position: left top;
  width: 200px;
  margin-right: 0px;
  height: 200px;
  flex-shrink: 0;
  border-radius: 500px;
}
.img__oImn6 > picture > img {
  object-fit: cover;
  object-position: left top;
}
@media (max-width: 1000px) {
  .img__oImn6 {
    margin-right: 0px;
    object-fit: fill;
    align-self: auto;
    object-position: center top;
  }
}
@media (max-width: 1000px) {
  .img__oImn6 > picture > img {
    object-fit: fill;
    object-position: center top;
  }
}
.text__tTTR {
  font-family: var(--token-zHp5t89rxSrr);
  color: var(--token-DU2gyGQXaOc4);
  font-size: var(--token-a-sZCMzsECyP);
  line-height: var(--token-QR6NAKQI2zSJ);
  width: 100%;
  height: auto;
  max-width: 100%;
  padding-top: 20px;
  padding-left: 0px;
  min-width: 0;
}
