.root {
  display: grid;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  align-content: flex-start;
  justify-items: center;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  min-height: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
}
.root > * {
  grid-column: 4;
}
.defaultPageLayout:global(.__wab_instance) {
  max-width: 100%;
}
.img__lrkrd {
  object-fit: cover;
  max-width: 300px;
  width: 50%;
  border-radius: 500px;
}
.img__lrkrd > picture > img {
  object-fit: cover;
}
.freeBox__kOeel {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 615px;
  min-width: 0;
  padding: 8px 8px 8px 45px;
}
.freeBox__kOeel > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 15px);
  height: calc(100% + 15px);
}
.freeBox__kOeel > :global(.__wab_flex-container) > *,
.freeBox__kOeel > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__kOeel > :global(.__wab_flex-container) > picture > img,
.freeBox__kOeel
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 15px;
}
@media (max-width: 1000px) {
  .freeBox__kOeel {
    padding-left: 0px;
  }
}
.h2___6RGj {
  color: var(--token-88RjLEx5apRc);
  font-family: var(--token-zHp5t89rxSrr);
  font-size: var(--token-efKhapC6D4KI);
  text-align: left;
  letter-spacing: -0.02rem;
  line-height: var(--token-VjbZaV8oqOQR);
  margin-bottom: 0px;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-top: calc(0px + 15px) !important;
  margin-right: 0px;
  margin-left: 0px;
  padding-top: 0px;
  min-width: 0;
}
.fullWidthSection__ibi6J:global(.__wab_instance) {
  max-width: 100%;
}
.h2__wgZgp {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  grid-column-start: 3 !important;
  grid-column-end: -3 !important;
}
@media (min-width: 0px) and (max-width: 768px) {
  .h2__wgZgp {
    color: var(--token-DU2gyGQXaOc4);
    font-family: var(--token-zHp5t89rxSrr);
    font-size: var(--token-zKGniLjS4AdL);
    text-align: center;
    letter-spacing: -0.017rem;
    line-height: var(--token-MUSaP2IvZ0wa);
    margin-bottom: 20px;
  }
}
.text___7H24Y {
  font-family: var(--token-zHp5t89rxSrr);
  color: var(--token-DU2gyGQXaOc4);
  font-size: var(--token-a-sZCMzsECyP);
  line-height: var(--token-QR6NAKQI2zSJ);
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  grid-column-start: 3 !important;
  grid-column-end: -3 !important;
}
.columns__regEp {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  max-width: 100%;
  flex-direction: row;
  flex-wrap: nowrap;
  grid-column-start: 3 !important;
  grid-column-end: -3 !important;
  --plsmc-rc-col-gap: 0px;
  padding: 0px;
}
.columns__regEp > :nth-child(2n + 1) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 7 / 12);
}
.columns__regEp > :nth-child(2n + 2) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 5 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__regEp {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap-reverse;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__regEp > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column__ceImq {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.text__drecw {
  margin-top: 0px;
  max-width: 771px;
  width: 100%;
  font-size: var(--token-a-sZCMzsECyP);
  padding-left: 0px;
  min-width: 0;
}
.ul {
  display: flex;
  flex-direction: column;
}
.li__kUjzl {
  font-size: var(--token-a-sZCMzsECyP);
}
.li__jWwD9 {
  font-size: var(--token-a-sZCMzsECyP);
}
.li___28HMj {
  font-size: var(--token-a-sZCMzsECyP);
}
.li__dBRB {
  font-size: var(--token-a-sZCMzsECyP);
}
.li___8Xf3 {
  font-size: var(--token-a-sZCMzsECyP);
}
.freeBox___3Uyn4 {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 20px 8px 8px;
}
.button__dLjJh:global(.__wab_instance) {
  max-width: 100%;
  width: auto;
}
.svg__h6Awn {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__ph7O2 {
  text-align: left;
}
.svg__rioWx {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.column__hVrH2 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 10px 0px 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__hVrH2 {
    padding-top: 0px;
  }
}
.img__mPMj {
  object-fit: cover;
  max-width: 100%;
}
.img__mPMj > picture > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 768px) {
  .img__mPMj {
    margin-top: 26px;
  }
}
.fullWidthSection__erodP:global(.__wab_instance) {
  max-width: 100%;
}
.h2___8Tirt {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  grid-column-start: 3 !important;
  grid-column-end: -3 !important;
}
@media (min-width: 0px) and (max-width: 768px) {
  .h2___8Tirt {
    color: var(--token-DU2gyGQXaOc4);
    font-family: var(--token-zHp5t89rxSrr);
    font-size: var(--token-zKGniLjS4AdL);
    text-align: center;
    letter-spacing: -0.017rem;
    line-height: var(--token-MUSaP2IvZ0wa);
    margin-bottom: 20px;
  }
}
.columns__poBoC {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  max-width: 100%;
  flex-direction: row;
  flex-wrap: nowrap;
  grid-column-start: 3 !important;
  grid-column-end: -3 !important;
  --plsmc-rc-col-gap: 0px;
  padding: 0px;
}
.columns__poBoC > :nth-child(2n + 1) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 4 / 12);
}
.columns__poBoC > :nth-child(2n + 2) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 8 / 12);
}
@media (max-width: 1000px) {
  .columns__poBoC {
    flex-direction: row;
    flex-wrap: nowrap;
  }
}
@media (max-width: 1000px) {
  .columns__poBoC > :nth-child(2n + 1) {
    width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 5 / 12);
  }
}
@media (max-width: 1000px) {
  .columns__poBoC > :nth-child(2n + 2) {
    width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 7 / 12);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__poBoC {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__poBoC > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column__a6Jvs {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.img__jsqT {
  object-fit: cover;
  max-width: 100%;
}
.img__jsqT > picture > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 768px) {
  .img__jsqT {
    margin-bottom: 20px;
    margin-top: 10px;
  }
}
.column___97FZ {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
@media (max-width: 1000px) {
  .column___97FZ {
    padding: 0px;
  }
}
.text__vfJnt {
  margin-top: 0px;
  max-width: 767px;
  width: 100%;
  font-size: var(--token-a-sZCMzsECyP);
  min-width: 0;
}
@media (max-width: 1000px) {
  .text__vfJnt {
    padding-left: 24px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__vfJnt {
    max-width: auto;
    padding-left: 0px;
  }
}
.fullWidthSection__pgj4Y:global(.__wab_instance) {
  max-width: 100%;
}
.h2__rz1Jf {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  grid-column-start: 3 !important;
  grid-column-end: -3 !important;
}
@media (min-width: 0px) and (max-width: 768px) {
  .h2__rz1Jf {
    color: var(--token-DU2gyGQXaOc4);
    font-family: var(--token-zHp5t89rxSrr);
    font-size: var(--token-zKGniLjS4AdL);
    text-align: center;
    letter-spacing: -0.017rem;
    line-height: var(--token-MUSaP2IvZ0wa);
    margin-bottom: 20px;
  }
}
.text__jwgBe {
  font-family: var(--token-zHp5t89rxSrr);
  color: var(--token-DU2gyGQXaOc4);
  font-size: var(--token-a-sZCMzsECyP);
  line-height: var(--token-QR6NAKQI2zSJ);
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-bottom: 19px;
  grid-column-start: 3 !important;
  grid-column-end: -3 !important;
}
@media (max-width: 1000px) {
  .text__jwgBe {
    margin-bottom: 21px;
  }
}
.button__wmayD:global(.__wab_instance) {
  max-width: 100%;
}
.svg__zof08 {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__tkwgx {
    text-align: left;
  }
}
.svg__gUz0R {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.fullWidthSection__jmQot:global(.__wab_instance) {
  max-width: 100%;
}
.columns__v0GOo {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  max-width: 100%;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  --plsmc-rc-col-gap: 0px;
  padding: 8px;
}
.columns__v0GOo > :nth-child(2n + 1) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
.columns__v0GOo > :nth-child(2n + 2) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__v0GOo {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__v0GOo > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column__kze1Q {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.card__jUuvh:global(.__wab_instance) {
  max-width: 100%;
}
.h4___7GXb1 {
  font-weight: 600;
}
.text__iiLif {
  font-size: var(--token-a-sZCMzsECyP);
}
.button___5LzLh:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  left: auto;
  top: auto;
  align-self: auto;
}
.svg__mItL {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text___553Kg {
  color: #ededec;
}
.svg__mwKka {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.img__edGns {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 74px;
  height: 74px;
  left: auto;
  top: auto;
}
.img__edGns > picture > img {
  object-fit: cover;
}
.column__zefO {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.card__bOnCo:global(.__wab_instance) {
  max-width: 100%;
}
.h4__skdEf {
  font-weight: 600;
}
.text__b5UFl {
  font-size: var(--token-a-sZCMzsECyP);
}
.button__yoaH:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  left: auto;
  top: auto;
  align-self: auto;
}
.svg__umwAa {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__oIgOz {
  color: #ededec;
}
.svg__c1YNc {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.img__qxbSc {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 74px;
  height: 74px;
  left: auto;
  top: auto;
}
.img__qxbSc > picture > img {
  object-fit: cover;
}
