.root {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  justify-content: center;
  align-items: stretch;
  min-width: 0;
}
.freeBox___0AfsJ {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox__rlDbu {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox__rlDbu > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 15px);
  height: calc(100% + 15px);
}
.freeBox__rlDbu > :global(.__wab_flex-container) > *,
.freeBox__rlDbu > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__rlDbu > :global(.__wab_flex-container) > picture > img,
.freeBox__rlDbu
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 15px;
}
.text__iyiHq {
  color: var(--token-88RjLEx5apRc);
  font-family: var(--token-zHp5t89rxSrr);
  font-size: var(--token-efKhapC6D4KI);
  text-align: left;
  letter-spacing: -0.02rem;
  line-height: var(--token-VjbZaV8oqOQR);
  margin-bottom: 20px;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.text__yiDnS {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-88RjLEx5apRc);
  min-width: 0;
}
.button__klBbt:global(.__wab_instance) {
  max-width: 100%;
  margin-top: calc(15px + 15px) !important;
}
.svg___3FzSt {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__zNCbF {
  padding-right: 0px;
}
.svg___0LZkT {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.freeBox__xRbZf {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox__xRbZf > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 15px);
  height: calc(100% + 15px);
}
.freeBox__xRbZf > :global(.__wab_flex-container) > *,
.freeBox__xRbZf > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__xRbZf > :global(.__wab_flex-container) > picture > img,
.freeBox__xRbZf
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 15px;
}
