.root {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  justify-content: flex-start;
  align-items: center;
  height: auto;
  min-width: 0;
}
.columns {
  display: flex;
  width: 100%;
  align-items: stretch;
  flex-shrink: 1;
  max-width: 100%;
  flex-direction: row;
  flex-wrap: nowrap;
  height: 100%;
  flex-grow: 1;
  min-width: 0;
  min-height: 0;
  --plsmc-rc-col-gap: 0px;
  padding: 0px;
}
.columns > :nth-child(2n + 1) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
.columns > :nth-child(2n + 2) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns {
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    flex-grow: 1;
    flex-shrink: 1;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.columnsswapBoxContent {
  flex-direction: row-reverse;
}
.column__huixu {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__huixu {
    align-items: stretch;
  }
}
.column__anCtm {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  background: none;
  min-width: 0;
  padding: 26px 0px 24px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__anCtm {
    padding-bottom: 26px;
    align-items: flex-start;
    justify-content: flex-start;
  }
}
.freeBox {
  display: flex;
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  flex-direction: column;
  align-self: auto;
  align-items: flex-start;
  justify-content: center;
  padding: 8px 60px;
}
.h3__soyV7 {
  color: var(--token-DU2gyGQXaOc4);
  font-family: var(--token-zHp5t89rxSrr);
  font-size: var(--token-n-atMK-kO0PM);
  text-align: left;
  line-height: var(--token-SsRvu-SN3qwj);
  letter-spacing: -0.02rem;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-weight: 400;
  font-style: normal;
  text-transform: none;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  margin-bottom: 10px;
  min-width: 0;
}
.freeBox__aCi {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  margin-bottom: 20px;
  flex-direction: column;
  align-self: center;
  min-width: 0;
  padding: 8px;
}
.freeBox__aCi > :global(.__wab_flex-container) {
  flex-direction: column;
  min-width: 0;
  margin-top: calc(0px - 10px);
  height: calc(100% + 10px);
}
.freeBox__aCi > :global(.__wab_flex-container) > *,
.freeBox__aCi > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__aCi > :global(.__wab_flex-container) > picture > img,
.freeBox__aCi
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 10px;
}
.freeBox___3BSvU {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  left: auto;
  top: auto;
  min-width: 0;
  padding: 0px;
}
.freeBox__slaWf {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: auto;
  height: 100%;
  max-width: 100%;
  align-self: center;
  min-height: 0;
  padding: 2px 15px 0px 0px;
}
.svg__p8LQ {
  object-fit: cover;
  max-width: 100%;
  height: 1em;
  flex-shrink: 0;
}
.text__bJKis {
  width: 100%;
  height: auto;
  max-width: 100%;
  font-family: var(--token-zHp5t89rxSrr);
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  color: var(--token-DU2gyGQXaOc4);
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  min-width: 0;
}
.freeBox__qQyz3 {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  left: auto;
  top: auto;
  min-width: 0;
  padding: 0px;
}
.freeBox__rZo1K {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: auto;
  height: 100%;
  max-width: 100%;
  align-self: center;
  min-height: 0;
  padding: 2px 15px 0px 0px;
}
.svg___117J4 {
  object-fit: cover;
  max-width: 100%;
  height: 1em;
  flex-shrink: 0;
}
.text__juY6 {
  width: 100%;
  height: auto;
  max-width: 100%;
  font-family: var(--token-zHp5t89rxSrr);
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  color: var(--token-DU2gyGQXaOc4);
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  min-width: 0;
}
.freeBox__vp8ET {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  left: auto;
  top: auto;
  min-width: 0;
  padding: 0px;
}
.freeBox__alNub {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: auto;
  height: 100%;
  max-width: 100%;
  align-self: center;
  min-height: 0;
  padding: 2px 15px 0px 0px;
}
.svg__wFbzX {
  object-fit: cover;
  max-width: 100%;
  height: 1em;
  flex-shrink: 0;
}
.text__e4U0N {
  width: 100%;
  height: auto;
  max-width: 100%;
  font-family: var(--token-zHp5t89rxSrr);
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  color: var(--token-DU2gyGQXaOc4);
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  min-width: 0;
}
.button__eZelc:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: auto;
}
.svg__nMbcq {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg___05H0L {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
